<h1> <%= @user.username %> Profile</h1>

<%= gravatar_for @user, size: 200 %> 


<h2> Articles </h2>
<%= will_paginate @articles %>
<%= render "articles/articles" %>

<% if logeed_in? && @user == current_user %>
  <%= link_to "Edit", edit_user_path(@user.id)%> |
<% end %>
<%= link_to 'Return to Articles', articles_path %>