<h1>Create a New Category</h1>

<% if @category.errors.any? %>
  <h2> The following erros prevented the <%= @category.class.name.downcase %> from beign saved </h2>
  <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @category, local: true) do  |f|%>
  <p> 
    <%= f.label :name, "Category Name" %> <br/>
    <%= f.text_field :name, placeholder: "Enter a name"%>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Return to Articles', articles_path %>
